@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/sass/utilities/_all.sass";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/bulma.sass";

$primary: #4ae27d;
$link: #3881ff;
$family-sans-serif: "Segoe UI", "Roboto", sans-serif;

body {
  background-color: #8d7575;
}
