{% extends "base.html" %}
{% block content %}
<h2>Vehicles</h2>
<table>
<tr>
    <th>VIN</th><th>Type</th><th>Year</th><th>Model</th><th>Price</th><th>Action</th>
</tr>
{% for v in vehicles %}
<tr>
    <td><a href="{{ url_for('vehicle_id', vin=v['VIN']) }}">{{ v['VIN'] }}</a></td>
    <td>{{ v['VehicleType'] }}</td>
    <td>{{ v['ModelYear'] }}</td>
    <td>{{ v['ModelName'] }}</td>
    <td>{{ v['SalesPrice'] }}</td>
    <td>
        {% if session.get('role') in ['Salesperson','Owner'] %}
        <a href="{{ url_for('sell', vin=v['VIN']) }}">Sell</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}

<!-- Remember to test the database again before psuhing to git!! :) -->