{% extends "base.html" %}

{% block content %}
<!-- title -->
<div class="container m-6">
    <h1 class ="title is-3">Vehicles</h1>
</div>
<!-- table -->
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>VIN</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
    {% for v in vehicles %}
        <tr>
            <td>{{ v.vin }}</td>
            <td>{{ v.manufacturer }}</td>
            <td>{{ v.model_name }}</td>
            <td>{{ v.model_year }}</td>
        <td>{{ v.mileage }}</td>
        <td>${{ v.sales_price }}</td>
    </tr>
    {% endfor %}

</tbody>

<!-- </table> -->

{% endblock %}